<footer class="mt-32 bg-gray-900 sm:mt-56" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8 lg:py-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <%= image_tag "PromptDoggy.svg", alt: "PromptDoggy's company logo",class: "h-7" %>
      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-white">Open source</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="https://github.com/PromptDoggy/PromptDoggy" class="text-sm leading-6 text-gray-300 hover:text-white">Github</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>