<div class="bg-white">
  <!-- Header -->
  <%= render "header" %>
  <main>
    <!-- Hero section -->
    <%= render "hero" %>

    <!-- Feature section -->
    <%= render "feature" %>

    <!-- FAQ section -->
    <!-- Add FAQ after there are actual questions from users -->
    <%#= render "faq" %>
  </main>

  <!-- Footer -->
  <%= render "footer" %>
</div>
